
#frame {
	margin:0;
	border:0;
	width:400px;
	height:400px;
}

/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles - Gobal Styles 
   ========================================================================== */

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:20px;
	color:#477725;
}

h2 {
	font-family: 'Happy Monkey', cursive;
	font-size:18px;
	color:#de5400;
}
	
h3 {
	font-family: 'Belleza', sans-serif;
	text-transform:capitalize;
	color:#477725;
}

a {
	color:#de5400;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* --- BEGIN HEAD SECTION STYLES --- */
header {
	height: 97px;
	background: url(../images/jpg/header-bg.jpg) repeat;
}

#logo {
	height:77px;
	padding:10px 0px 10px 0px;
}

#head-shadow {
	height: 8px;
	background:url(../images/png/asideBG.png) repeat-x;
	position:relative;
	z-index:10;
}

nav, nav ul, nav li, nav a {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	line-height: 1;
}
		
nav {
	background: #a7bc7a;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

nav a {
	padding: 15px 20px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 -1px 1px #586835;
	border-right: 1px solid #839b4e;
}

nav a:hover {
	color: #586835;
	text-shadow: 0 1px 1px #bdcd9c;
}

nav li {
	float: left;
	border-right: 1px solid #b2c58b;
}

.active {
	background: url(../images/png/grass.png) bottom repeat-x;
}

nav li:first-child {
	border-left: none;
}
/* --- END HEAD SECTION STYLES --- */

.main {
	text-align:center;
}

/* --- ASIDE (RIGHT COLUMN) STYLES --- */
aside {
	background:url(../images/jpg/asideBG.jpg) repeat-y;
	text-align:center;
}

#social-media-buttons {
	padding-top: 20px;
}

aside p {
	margin:0px 0px 10px 0px;
	font-size:0.938em;
}

#local10 {
	padding:10px 0px 20px 0px;
}

/* --- FOOTER --- */
footer {
	background:url(../images/jpg/footer-grass.jpg);
	height:20px;
	padding:10px;
	clear:left;
}

footer p {
	color:#A8BC72;
	margin:0px;
	line-height:30px;
}

/* =============================================================================
   Page Styles
   ========================================================================== */

/* --- HOME PAGE --- */
.fadein { 
	position:relative; 
	height:384px; 
}

.fadein img { 
	position:absolute; 
	left:0; 
	top:0; 
}

.advert {
	margin-top:20px;
}

.advert a:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.8;
}

/* --- ABOUT PAGE --- */
.left-justify {
	text-align:left;
}

#about img {
	float:left;
	padding:0px 15px 0px 0px;
}

#about p span {
	font-size:12px;
}

.quote {
	font-size:12px;
	text-align:center;
}

/* --- DOG-WALKING & PET SITTING PAGES --- */

#walking img, #pet-sitting img {
	float:left;
	padding:0px 15px 0px 0px;
}

#visits {
	clear:left;
	padding-top:15px;
}

#visits img {
	float:left;
	padding:0px 15px 0px 0px;
}

/* --- RATES PAGE --- */
#form-container {
	font-size:14px;
}

#form-container h3 {
	padding:15px 0px;
}

#booking fieldset div {
	padding-bottom:5px;
}

.input {    
	border: 1px solid #de5400; 

}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f2dcd0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f2dcd0;
	box-shadow:inset 0px 1px 0px 0px #f2dcd0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd0a6), color-stop(1, #ff7700));
	background:-moz-linear-gradient(top, #ffd0a6 5%, #ff7700 100%);
	background:-webkit-linear-gradient(top, #ffd0a6 5%, #ff7700 100%);
	background:-o-linear-gradient(top, #ffd0a6 5%, #ff7700 100%);
	background:-ms-linear-gradient(top, #ffd0a6 5%, #ff7700 100%);
	background:linear-gradient(to bottom, #ffd0a6 5%, #ff7700 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd0a6', endColorstr='#ff7700',GradientType=0);
	background-color:#ffd0a6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #de5500;
	display:inline-block;
	color:#fdefbe;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 3px #000326;
}
	
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7700), color-stop(1, #ffd0a6));
	background:-moz-linear-gradient(top, #ff7700 5%, #ffd0a6 100%);
	background:-webkit-linear-gradient(top, #ff7700 5%, #ffd0a6 100%);
	background:-o-linear-gradient(top, #ff7700 5%, #ffd0a6 100%);
	background:-ms-linear-gradient(top, #ff7700 5%, #ffd0a6 100%);
	background:linear-gradient(to bottom, #ff7700 5%, #ffd0a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7700', endColorstr='#ffd0a6',GradientType=0);
	background-color:#ff7700;
}
	
.myButton:active {
	position:relative;
	top:1px;
}
	
/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/
